* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header, footer {
    background: #10592a62;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav {
    background: #9ba1a1;
    overflow-x: auto;
    white-space: nowrap;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav ul li {
    flex: 1;
    display: inline-block;
    margin: 0 15px;
}

nav a {
    color: rgb(245, 244, 244);
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

/* Hover Effect */
nav a:hover {
    color: #050505; 
}

main {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background: #c9b0b0;
    border: 1px solid #ddd;
}

/* Responsive Styles */
@media (min-width: 600px) {
    main {
        flex-direction: row;
        justify-content: space-between;
    }
    
    section {
        flex: 1;
        margin-right: 20px;
    }

    section:last-child {
        margin-right: 0;
    }
}

@media (max-width: 600px) {
    main {
        flex-direction: column;
    }

    nav ul {
        flex-direction: row;
    }
    
    nav ul li {
        display: inline-block;
        margin: 0 10px;
    }

    nav {
        overflow-x: auto;
    }
}
